.highlightUser1 {
	background-color: yellow !important;
	color: blue !important;
}
.highlightUser1 .editSchedClickShift {
	color: blue !important;
	background: yellow url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="blue" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser2 {
	background-color: green !important;
	color: white !important;
}
.highlightUser2 .editSchedClickShift {
	color: white !important;
	background: green url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser3 {
	background-color: red !important;
	color: white !important;
}
.highlightUser3 .editSchedClickShift {
	color: white !important;
	background: red url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser4 {
	background-color: blue !important;
	color: white !important;
}
.highlightUser4 .editSchedClickShift {
	color: white !important;
	background: blue url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser5 {
	background-color: purple !important;
	color: white !important;
}
.highlightUser5 .editSchedClickShift {
	color: white !important;
	background: purple url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser6 {
	background-color: orange !important;
	color: black !important;
}
.highlightUser6 .editSchedClickShift {
	color: black !important;
	background: orange url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="black" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser7 {
	background-color: cyan !important;
	color: black !important;
}
.highlightUser7 .editSchedClickShift {
	color: black !important;
	background: cyan url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="black" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser8 {
	background-color: pink !important;
	color: black !important;
}
.highlightUser8 .editSchedClickShift {
	color: black !important;
	background: pink url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="black" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser9 {
	background-color: #6c5809 !important;
	color: white !important;
}
.highlightUser9 .editSchedClickShift {
	color: white !important;
	background: #6c5809 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser10 {
	background-color: black !important;
	color: white !important;
}
.highlightUser10 .editSchedClickShift {
	color: white !important;
	background: black url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser11 {
	background-color: #780309 !important;
	color: white !important;
}
.highlightUser11 .editSchedClickShift {
	color: white !important;
	background: #780309 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser12 {
	background-color: #008265 !important;
	color: white !important;
}
.highlightUser12 .editSchedClickShift {
	color: white !important;
	background: #008265 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser13 {
	background-color: #96402f !important;
	color: white !important;
}
.highlightUser13 .editSchedClickShift {
	color: white !important;
	background: #96402f url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser14 {
	background-color: #1a91cf !important;
	color: white !important;
}
.highlightUser14 .editSchedClickShift {
	color: white !important;
	background: #1a91cf url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser15 {
	background-color: #bd70f3 !important;
	color: black !important;
}
.highlightUser15 .editSchedClickShift {
	color: black !important;
	background: #bd70f3 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="black" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser16 {
	background-color: #f7a060 !important;
	color: black !important;
}
.highlightUser16 .editSchedClickShift {
	color: black !important;
	background: #f7a060 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="black" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser17 {
	background-color: #60f7e7 !important;
	color: black !important;
}
.highlightUser17 .editSchedClickShift {
	color: black !important;
	background: #60f7e7 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="black" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser18 {
	background-color: #73dba9 !important;
	color: black !important;
}
.highlightUser18 .editSchedClickShift {
	color: black !important;
	background: #73dba9 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="black" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser19 {
	background-color: #979695 !important;
	color: black !important;
}
.highlightUser19 .editSchedClickShift {
	color: black !important;
	background: #979695 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="black" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.highlightUser20 {
	background-color: #385304 !important;
	color: white !important;
}
.highlightUser20 .editSchedClickShift {
	color: white !important;
	background: #385304 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="29" height="14" ><g stroke="white" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></g></svg>') no-repeat !important;
	background-size: 23px !important;
	background-position: right -4px center !important;
}

.vio, .vp {
	display: block;
	margin: 0 !important;
	padding: 0 0 2.7px 0 !important;
	font-size:12.6px !important;
}

.vioLink, .cVioLink {
	margin-top: 4.5px;
}

.calendar-normal .vpLink {
	margin-top: 4.5px !important;
}

.vpUnder {
	color:#ff0000 !important;
}

.vpOver {
	color:#1b9407 !important;
}

.vpLowPPH {
	color:#4378fd !important;
}

.vpHovWrap {
	margin: 4.5px 0 0 0 !important;
	padding: 4.5px 0 0 0 !important;
	border-top: 1px solid #CCCCCC;
	font-size:12.6px;
}

.vpHovWrapTop {
	margin: 0 !important;
	padding: 0 !important;
	font-size:12.6px;
}

.vpHovLeft {
	margin: 0;
	padding: 4.5px 0 4.5px 0;
	display: inline-block;
	width: 72px;
	background-color: #cccccc;
	vertical-align: text-top;
}

.vpHovRight {
	margin: 0;
	padding: 0 0 0 4.5px;
	display: inline-block;
	vertical-align: text-top;
	width: 369px;
}

.vpHovTimes {
	margin: 0;
	padding: 1.8px 0 1.8px 0;
	text-align: center;
}

.vpHovPPHRatio {
	margin: 0;
	padding: 1.8px 0 1.8px 0;
	font-weight: bold;
	font-size: 19.8px;
	line-height: 19.8px;
	text-align: center;
}

.vpHovPPHRatioFoot {
	margin: 0;
	padding: 1.8px 0 1.8px 0;
	text-align: center;
}

.vpHovRightLine {
	margin: 0;
	padding: 1.8px;
	line-height: 12.6px;
}